  <div class="container albums">
    <form class="search-form">
      <mat-form-field class="search-full-width">
        <input matInput placeholder="Search Albums" #search>
      </mat-form-field>
    </form>

    <mat-grid-list  gutterSize="30px" [cols]="breakpoint" (window:resize)="onResize($event)">
      <mat-grid-tile *ngFor="let album of ((userAlbums$ | async) | filter:search.value)">
          <pha-album  [id]="album.id" [title]="album.title" [author]="album.user.name"></pha-album>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
